.add-event {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: start;
	align-items: center;
}

.add-event--title {
	font-family: "Koulen";
	font-size: 35px;
	width: 100%;
	padding-left: 10px;
	padding-top: 38px;
}

.add-event--form {
	display: flex;
	width: 261px;
	flex-direction: column;
	align-items: center;
}


.add-event--field {
	width: 100%;
	height: 101px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "DM Mono";
	font-size: 20px;
	text-align: center;

}

.add-event--button-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 198px;
}

.add-event--button--cancel {
	width: 134px;
	height: 60px;
	border: solid red 3px;
	color: red;
	border-radius: 5px;
	font-family: "DM Mono";
	font-size: 20px;
}

.add-event--button--attend {
	width: 134px;
	height: 60px;
	border: solid green 3px;
	color: green;
	border-radius: 5px;
	font-family: "DM Mono";
	font-size: 20px;
}
