.host {
	display: flex;
	flex-direction: column;
}

.prompt {
	margin-top: 200px;
 	font-family: 'Koulen';
	font-size: 35px;
	margin-left: 10px;
}

.party-list {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.party {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;	
	margin-top: 5px;
	border: solid #A30092 3px;
	border-radius: 5px;
	height: 90px;
	width: 350px;

}

.party--title {
 	font-family: 'Koulen';
	font-size: 35px;
}

.party--timer {
 	font-family: 'DM Mono';
	font-size: 20px;

}

.party-add {
	margin-top: 5px;
	border: dashed black 3px;
	border-width: 3px 3px;
	border-radius: 5px;
	height: 90px;
	width: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	color: inherit;
	overflow: hidden;
}
