.landing {
	display: flex;
	height: 100%;
	width: 350px;
	flex-direction: column;
	border: solid red 2px;
}

.landing--title-container {
	margin-top: 180px;
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	justify-content: start;
	align-items: end;	
}

.landing--title-large {
 	font-family: 'Koulen';
	font-size: 65px;
}

.landing--title-small {
 	font-family: 'Koulen';
	font-size: 55px;
	padding-bottom: 5px;
}

.landing--button-list {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 200px;
	width: 100%;
}

.landing--button {
	margin-top: 10px;
	width: 134px;
    height: 60px;
    border: solid inherit 3px;
    color: inherit;
    border-radius: 5px;
    font-family: "DM Mono";
    font-size: 20px;
}
